* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* ---------------------------------------------------------------- */

header {
    border: 1px solid black;

    height: 15vh;

    padding: 0px 7%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo Style va qui */

#responsive-nav-bar {
    display: none;
}

header label {
    cursor: pointer;

    display: none;
}

header .nav-bar ul {
    list-style: none;
}

header .nav-bar ul li {
    position: relative;

    float: left;
}

header .nav-bar ul li a {
    padding: 20px;

    display: block;
}

header .nav-bar ul li a:hover {
    color: black;
}



@media only screen and (max-width: 480px) {

    header label {
        display: initial;
    }

    header .nav-bar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        /* Da aggiungere dopo per quando faccio il tricketino  */
        display: none;
    }

    header .nav-bar ul li {
        width: 100%;
    }

    #responsive-nav-bar:hover ~ .nav-bar {
        display: initial;
    }
}

/* @media only screen and (min-width: 1200px) {

} */