:root {
    --background: #333333;
    --text: #FFFFFF;
    --inactive-link: #A0A0A0;
    --color-text: #e00000;

    --font-fam: "Poppins", sans-serif;
    --font-xxl: 65px;
    --font-xl: 54px;
    --font-l: 44px;
    --font-m: 37px;
    --font-s: 31px;
    --font-xs: 25px;
    --font-base: 18px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-fam);
    color: var(--text);
    background-color: var(--background);
}

.page {
    height: 100vh;
    width: 100%;
}

.color-text {
    color: var(--color-text);
}

.menu {
    /* border: 1px solid red; */

    position: fixed;

    height: 15vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: var(--background);

}

.menu__logo {
    font-size: var(--font-m);
    font-weight: 700;
    letter-spacing: 1px;
}
.menu__list {
    list-style: none;
}

.menu__item {
    display: inline-block;
    font-size: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.5;
    position: relative;
    padding: 0 5px;
}

.menu__item a {
    text-decoration: none;
    color: var(--text);
    letter-spacing: 0.5px;
}

.menu__item a::after {
    content: "";
    position: absolute;
    background-color: var(--color-text);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}

.menu__item a:hover {
    color: var(--color-text);
}

.menu__item a:hover::after {
    width: 100%;
}


.content {
    height: 100vh;
    width: 100%;
    border: 1px solid red;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    color: var(--text);
}