* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.menu {
    position: fixed;
    right: 25px;
    bottom: 15px;
}

.dropdown {
    position: relative;
}

.features-menu {
    display: flex;
    flex-direction: column;

    background-color: red;
    border-radius: 5px;
    /* padding-right: 60px; */
    position: absolute;
    right: 50px;
    bottom: 50px;
}