/* x {
color
background
font (family, size, wight...)
border

    hight
    width


    padding
    margin
    border

    position: ...
    e proprietà annesse

    display: flex;
    e proprietà annesse
} */

:root {
    --background: #262626;
    --menu-background: #333333;
    --text: #ffffff;
    --inactive-test: #f9fafa;
    --color-text: #e00000;

    --font-fam: "Poppins", "sans-serif";
    --font-xxl: 65px;
    --font-xl: 54px;
    --font-l: 44px;
    --font-m: 37px;
    --font-s: 31px;
    --font-xs: 25px;
    --font-base: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-fam);
}

.page {
    height: 100vh;
    width: 100%;
}


/* HOME PAGE  */
.home {
    display: flex;
    flex-direction: column;
}

/* Nav Menu  */
.menu {
    border: 1px solid red;
    height: 15vh;
    width: 100%;
    padding: 0 10%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu__logo {
    font-size: var(--font-m);
    font-weight: 700;
    letter-spacing: 0.5px;
}

.menu__dropdown {
    position: relative;
}

.dropdown__title {
    font-size: var(--font-base);
    font-weight: 700;
    letter-spacing: 1px;

    position: relative;

    z-index: 2;
}

.menu__dropdown:hover .dropdown__list {
    position: absolute;
    top: 0;
    right: -35px;

    display: flex;
    flex-direction: column;

    padding-top: 50px;

    z-index: 1;

    background-color: white;
}

.dropdown__list {
    display: none;
}

.dropdown__item {
    list-style: none;
    padding: 0 20px 10px 20px;

    font-size: var(--font-base);

}

.dropdown__item a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}


/* Home Content  */

.menu__dummy {
    height: 15vh;
    width: 100%;
}

.home__content {
    border: 1px solid blue;
    height: 60vh;
    width: 100%;

    display: flex;
    align-items: center;

}

.content__container {
    border: 1px solid green;
    height: 40vh;
    width: 100%;
    /* padding-left: 20px; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content__1 {
    font-size: var(--font-s);
    font-weight: 700;

}

.content__2 {
    font-size: var(--font-l);
    font-weight: 700;

}

.content__3 {
    font-size: var(--font-s);
    font-weight: 700;
}


/* Skill List  */
.home__skill {
    height: 25vh;
    width: 100%;
    padding-left: 25px;

    font-size: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.home__skill img {
    height: 40px;
    width: 40px;
    position: relative;
    background-color: #e00000;
    padding: 6px;
    border-radius: 50px;
}

.test-bar {
    height: 50px;
    width: 250px;

    -webkit-appearance: none;
    appearance: none;
}



/* ABOUT PAGE  */
.about__container {
    background-color: lightgray;

    height: 85vh;
    width: 100%;
    padding: 50px 25px;


}

.about__img {
    height: 200px;
    width: auto;
    padding: 0px 25px 20px 0;

}


/* PORTFOLIO PAGE  */
.container {
    border: 1px solid green;
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 300px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
}

.item {
    border: 1px solid black;
    flex: 0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;
}













