:root {
    --background: #262626;
    --menu-background: #333333;
    --text: #ffffff;
    --inactive-test: #f9fafa;
    --color-text: #e00000;

    --font-fam: "Poppins", sans-serif;
    --font-xxl: 65px;
    --font-xl: 54px;
    --font-l: 44px;
    --font-m: 37px;
    --font-s: 31px;
    --font-xs: 25px;
    --font-base: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font-fam);
}

.page {
    height: 100vh;
    width: 100%;
}

.color-text {
    color: var(--color-text);
}

/* Home Page  */
.home {
    display: flex;
    flex-direction: column;
}

.home__menu {
    /* border: 1px solid red; */
    height: 15%;
    width: 100%;
    padding-left: 5%;
    padding-right: 10%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.menu__logo {
    font-size: var(--font-m);
    letter-spacing: 1px;
}

.menu__dropdown {
    position: relative;
}

.dropdown__title {
    font-size: var(--font);
    font-weight: 700;
    letter-spacing: 1px;

    position: relative;
    z-index: 2;
    cursor: pointer;
}

.menu__dropdown:hover .dropdown__list {
    position: absolute;
    top: 0;
    right: -35px;

    display: flex;
    flex-direction: column;

    padding-top: 50px;
    z-index: 1;
    
    background-color: var(--menu-background);
    border-radius: 5px;
}

.dropdown__list {
    display: none;
}

.dropdown__item {
    list-style: none;
    padding: 0 20px 10px 20px;

    font-size: var(--font-base);
    font-weight: 400;
}

.dropdown__item a {
    text-decoration: none;
    color: var(--inactive-test);
    font-weight: 500;
}

.dropdown__item a:hover {
    color: var(--color-text);
    border-bottom: 2px solid var(--color-text);
}

/* Home Menu  */
.home__content {
    border: 1px solid blue;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content__container {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.content__1 {
    font-size: var(--font-xs);
}

.content__2 {
    font-size: var(--font-xl);
}

.content__3 {
    font-size: var(--font-s);
}