:root {
    --background: #141414;
    --element-background: #262626;
    --text: #FFFFFF;
    --text-color: #E00000;
    --xxl: 65px;
    --xl: 54px;
    --l: 44px;
    --m: 37px;
    --s: 31px;
    --xs: 25px;
    --base: 18px;
    --font: "Poppins", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    width: 100%;
    background-color: var(--element-background);
}

.menu {
    height: 15%;
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;

    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #ffffff;
}

.menu__logo {
    font-size: var(--m);
}

.menu__dropdown {
    position: relative;
}

.menu__title {
    font-size: var(--base);
}


.menu__list {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    padding-top: 50px;
    background-color: blue;
}

.menu__list li {
    list-style: none;
}



/* Mobile Query */
@media only screen and (max-width: 360px) {
    body {
        background-color: red;
    }
}

/* Tablet Query */
@media only screen and (min-width: 361px) and (max-width: 1279px) {
    body {
        background-color: yellow;
    }
}

/* Desktop Query */
@media only screen and (min-width: 1280px) {
    body {
        
    }
}
